.sidebar-nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    padding: 30px 0px 40px 0px; 
    background-color: cadetblue;
}

.centered-buttons {
    display: flex;
    justify-content: center;
    gap: 30px; 
    flex-grow: 1; 
}

.right-aligned-buttons {
    display: flex;
    gap: 10px; 
    margin-right: 30px;
}

.sidebar-button {
    background-color: blue;
    color: aliceblue;
    width: 200px;
}

.logoutButton{
    width: 120px;
    color: warn;
}
.profileButton{
    width: 120px;
}

.title{
    padding-left: 30px;
}

.header-icon{
   
    transform: scale(2);
    margin-right: 10px;
}